Fusion/Web References/Sberbank/MerchantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://engine.paymentgate.ru/webservices/merchant" name="MerchantService" targetNamespace="http://engine.paymentgate.ru/webservices/merchant" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://engine.paymentgate.ru/webservices/merchant" targetNamespace="http://engine.paymentgate.ru/webservices/merchant" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="abstractServiceRequest" abstract="true">
        <xs:sequence />
        <xs:attribute name="language" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="refundOrderParams">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="refundItems" type="tns:cartItems" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
              <xs:element minOccurs="0" name="expectedDepositedAmount" type="xs:long" />
            </xs:sequence>
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="refundAmount" type="xs:long" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cartItems">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:item" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="itemDetails" type="tns:itemDetails" />
          <xs:element name="quantity" type="tns:quantity" />
          <xs:element name="itemAmount" type="xs:long" />
          <xs:element minOccurs="0" name="depositedItemAmount" type="xs:long" />
          <xs:element minOccurs="0" name="itemCurrency" type="xs:int" />
          <xs:element name="itemCode" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="tns:discount" />
          <xs:element minOccurs="0" name="agentInterest" type="tns:agentInterest" />
          <xs:element minOccurs="0" name="tax" type="tns:tax" />
          <xs:element minOccurs="0" name="itemPrice" type="xs:long" />
        </xs:sequence>
        <xs:attribute name="positionId" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="itemDetails">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="itemDetailsParams" nillable="true" type="tns:itemDetailsParam" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemDetailsParam">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="quantity">
        <xs:simpleContent>
          <xs:extension base="xs:float">
            <xs:attribute name="measure" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="discount">
        <xs:sequence>
          <xs:element minOccurs="0" name="discountType" type="xs:string" />
          <xs:element minOccurs="0" name="discountValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="agentInterest">
        <xs:sequence>
          <xs:element minOccurs="0" name="interestType" type="xs:string" />
          <xs:element minOccurs="0" name="interestValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tax">
        <xs:sequence>
          <xs:element minOccurs="0" name="taxSum" type="xs:long" />
          <xs:element minOccurs="0" name="taxType" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceParam">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderAddendumList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:arrayList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractResponse" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="operations" nillable="true" type="tns:loyaltyOperation" />
        </xs:sequence>
        <xs:attribute name="errorCode" type="xs:int" use="required" />
        <xs:attribute name="errorMessage" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="loyaltyOperation" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="basicLoyaltyOperation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:loyaltyOperation">
            <xs:sequence>
              <xs:element name="amount" type="xs:long" />
              <xs:element minOccurs="0" name="errorCode" type="xs:string" />
              <xs:element minOccurs="0" name="errorDescription" type="xs:string" />
              <xs:element minOccurs="0" name="operation" type="tns:operationType" />
              <xs:element name="successful" type="xs:boolean" />
              <xs:element minOccurs="0" name="transactionId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sbrfSpasiboLoyaltyOperation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:basicLoyaltyOperation">
            <xs:sequence>
              <xs:element minOccurs="0" name="pcId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="amount" type="xs:long" />
              <xs:element minOccurs="0" name="currency" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createBindingNoPaymentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardholderName" type="xs:string" />
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="expiryDate" type="xs:string" />
          <xs:element minOccurs="0" name="pan" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createBindingNoPaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="bindingId" type="xs:string" />
          <xs:element minOccurs="0" name="cardholderName" type="xs:string" />
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
          <xs:element name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="expiryDate" type="xs:string" />
          <xs:element minOccurs="0" name="maskedPan" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="androidPayPaymentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchant" type="xs:string" />
          <xs:element minOccurs="0" name="orderNumber" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element name="additionalParameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="preAuth" type="xs:boolean" />
          <xs:element minOccurs="0" name="paymentToken" type="xs:string" />
          <xs:element minOccurs="0" name="ip" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:long" />
          <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="androidPayPaymentResponse">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="data" type="tns:androidData" />
          <xs:element minOccurs="0" name="error" type="tns:androidError" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="androidData">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderId" type="xs:string" />
          <xs:element minOccurs="0" name="bindingId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="androidError">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="orderParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnUrl" type="xs:string" />
          <xs:element minOccurs="0" name="failUrl" type="xs:string" />
          <xs:element minOccurs="0" name="merchantLogin" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
          <xs:element minOccurs="0" name="orderBundle" type="tns:orderBundle" />
          <xs:element minOccurs="0" name="features">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="feature" type="tns:orderFeature" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="merchantOrderNumber" type="xs:string" />
        <xs:attribute name="description" type="xs:string" />
        <xs:attribute name="amount" type="xs:long" />
        <xs:attribute name="currency" type="xs:string" />
        <xs:attribute name="language" type="xs:string" />
        <xs:attribute name="pageView" type="xs:string" />
        <xs:attribute name="sessionTimeoutSecs" type="xs:int" />
        <xs:attribute name="taxSystem" type="xs:int" />
        <xs:attribute name="bindingId" type="xs:string" />
        <xs:attribute name="expirationDate" type="xs:dateTime" />
      </xs:complexType>
      <xs:complexType name="orderBundle">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customerDetails" type="tns:customerDetails" />
          <xs:element name="cartItems" type="tns:cartItems" />
          <xs:element minOccurs="0" name="loyalties" type="tns:loyalties" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="contact" type="xs:string" />
          <xs:element minOccurs="0" name="deliveryInfo" type="tns:deliveryInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deliveryInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="deliveryType" type="xs:string" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="postAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loyalties">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="loyalties" nillable="true" type="tns:loyalty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loyalty">
        <xs:sequence>
          <xs:element name="bonusAmountForDebit" type="xs:long" />
          <xs:element name="bonusAmountForCredit" type="xs:long" />
        </xs:sequence>
        <xs:attribute name="loyaltyProgramName" type="xs:string" />
        <xs:attribute name="positionId" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="registerOrderResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="formUrl" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="orderId" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentOrderBindingParams">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
        </xs:sequence>
        <xs:attribute name="mdOrder" type="xs:string" />
        <xs:attribute name="bindingId" type="xs:string" />
        <xs:attribute name="language" type="xs:string" />
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="cvc" type="xs:string" />
        <xs:attribute name="email" type="xs:string" />
        <xs:attribute name="pointsAmount" type="xs:string" />
        <xs:attribute name="loyaltyId" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="paymentOrderResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence />
            <xs:attribute name="info" type="xs:string" />
            <xs:attribute name="redirect" type="xs:string" />
            <xs:attribute name="acsUrl" type="xs:string" />
            <xs:attribute name="paReq" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="applePayPaymentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchant" type="xs:string" />
          <xs:element minOccurs="0" name="orderNumber" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="paymentToken" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element name="additionalParameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="preAuth" type="xs:boolean" />
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
          <xs:element name="recurrent" type="xs:boolean" />
          <xs:element name="recurrentInitialize" type="xs:boolean" />
          <xs:element minOccurs="0" name="ip" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="applePayPaymentResponse">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="data" type="tns:data" />
          <xs:element minOccurs="0" name="error" type="tns:error" />
          <xs:element minOccurs="0" name="orderStatus" type="tns:getOrderStatusExtendedResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="data">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderId" type="xs:string" />
          <xs:element minOccurs="0" name="bindingId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="error">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOrderStatusExtendedResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="merchantOrderParams" type="tns:serviceParam" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="tns:serviceParam" />
              <xs:element minOccurs="0" name="cardAuthInfo" type="tns:cardAuthInfo" />
              <xs:element minOccurs="0" name="bindingInfo" type="tns:cardBindingInfo" />
              <xs:element minOccurs="0" name="authDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="terminalId" type="xs:string" />
              <xs:element minOccurs="0" name="authRefNum" type="xs:string" />
              <xs:element minOccurs="0" name="paymentAmountInfo" type="tns:paymentAmountInfo" />
              <xs:element minOccurs="0" name="bankInfo" type="tns:bankInfo" />
              <xs:element minOccurs="0" name="orderBundle" type="tns:orderBundle" />
              <xs:element minOccurs="0" name="loyaltyInfo" type="tns:loyaltyInfo" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="refunds" type="tns:refund" />
              <xs:element minOccurs="0" name="chargeback" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="operations" type="tns:processingOperation" />
              <xs:element minOccurs="0" name="paymentWay" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="orderNumber" type="xs:string" />
            <xs:attribute name="orderStatus" type="xs:int" />
            <xs:attribute name="actionCode" type="xs:int" />
            <xs:attribute name="actionCodeDescription" type="xs:string" />
            <xs:attribute name="originalActionCode" type="xs:string" />
            <xs:attribute name="amount" type="xs:long" />
            <xs:attribute name="currency" type="xs:string" />
            <xs:attribute name="date" type="xs:dateTime" />
            <xs:attribute name="depositedDate" type="xs:dateTime" />
            <xs:attribute name="orderDescription" type="xs:string" />
            <xs:attribute name="ip" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractServiceResponse" abstract="true">
        <xs:sequence />
        <xs:attribute name="errorCode" type="xs:string" />
        <xs:attribute name="errorMessage" type="xs:string" />
        <xs:attribute name="userMessage" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="cardAuthInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="secureAuthInfo" type="tns:secureAuthInfo" />
        </xs:sequence>
        <xs:attribute name="maskedPan" type="xs:string" />
        <xs:attribute name="expiration" type="xs:string" />
        <xs:attribute name="cardholderName" type="xs:string" />
        <xs:attribute name="approvalCode" type="xs:string" />
        <xs:attribute name="paymentSystem" type="xs:string" />
        <xs:attribute name="product" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="secureAuthInfo">
        <xs:sequence>
          <xs:element name="eci" type="xs:int" />
          <xs:element minOccurs="0" name="paResCheckStatus" type="xs:string" />
          <xs:element minOccurs="0" name="paResStatus" type="xs:string" />
          <xs:element minOccurs="0" name="threeDSInfo" type="tns:threeDSInfo" />
          <xs:element minOccurs="0" name="veResStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="threeDSInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="cavv" type="xs:string" />
          <xs:element minOccurs="0" name="xid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardBindingInfo">
        <xs:sequence />
        <xs:attribute name="clientId" type="xs:string" />
        <xs:attribute name="bindingId" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="paymentAmountInfo">
        <xs:sequence />
        <xs:attribute name="paymentState" type="tns:transactionState" />
        <xs:attribute name="approvedAmount" type="xs:long" use="required" />
        <xs:attribute name="depositedAmount" type="xs:long" use="required" />
        <xs:attribute name="refundedAmount" type="xs:long" use="required" />
        <xs:attribute name="feeAmount" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="bankInfo">
        <xs:sequence />
        <xs:attribute name="bankName" type="xs:string" />
        <xs:attribute name="bankCountryCode" type="xs:string" />
        <xs:attribute name="bankCountryName" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="loyaltyInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentBonus" type="tns:paymentBonus" />
          <xs:element minOccurs="0" name="awardBonus" type="tns:awardBonus" />
        </xs:sequence>
        <xs:attribute name="loyaltyName" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="paymentBonus">
        <xs:sequence />
        <xs:attribute name="approvedAmountBonus" type="xs:int" />
        <xs:attribute name="depositedAmountBonus" type="xs:int" />
        <xs:attribute name="refundedAmountBonus" type="xs:int" />
        <xs:attribute name="pcId" type="xs:string" />
        <xs:attribute name="successful" type="xs:boolean" />
        <xs:attribute name="paymentOperation" type="tns:operation" />
      </xs:complexType>
      <xs:complexType name="awardBonus">
        <xs:sequence />
        <xs:attribute name="approvedAmountAward" type="xs:int" />
        <xs:attribute name="depositedAmountAward" type="xs:int" />
        <xs:attribute name="refundedAmountAward" type="xs:int" />
        <xs:attribute name="pcId" type="xs:string" />
        <xs:attribute name="successful" type="xs:boolean" />
        <xs:attribute name="paymentOperation" type="tns:operation" />
      </xs:complexType>
      <xs:complexType name="refund">
        <xs:sequence />
        <xs:attribute name="referenceNumber" type="xs:string" />
        <xs:attribute name="actionCode" type="xs:string" />
        <xs:attribute name="amount" type="xs:long" use="required" />
        <xs:attribute name="approvalCode" type="xs:string" />
        <xs:attribute name="date" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="processingOperation">
        <xs:sequence />
        <xs:attribute name="operationDate" type="xs:dateTime" />
        <xs:attribute name="operationType" type="tns:processingOperationType" />
        <xs:attribute name="amount" type="xs:long" />
        <xs:attribute name="pan" type="xs:string" />
        <xs:attribute name="cardHolder" type="xs:string" />
        <xs:attribute name="expiration" type="xs:string" />
        <xs:attribute name="processingResultCode" type="xs:int" />
        <xs:attribute name="currencyCode" type="xs:string" />
        <xs:attribute name="success" type="xs:string" />
        <xs:attribute name="referenceNumber" type="xs:string" />
        <xs:attribute name="authCode" type="xs:string" />
        <xs:attribute name="externalId" type="xs:string" />
        <xs:attribute name="terminalId" type="xs:string" />
        <xs:attribute name="paresResult" type="xs:string" />
        <xs:attribute name="paresMessage" type="xs:string" />
        <xs:attribute name="paresStatus" type="xs:string" />
        <xs:attribute name="veresEnrolled" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="addParamsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
        </xs:sequence>
        <xs:attribute name="orderId" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="getBindingsRequest">
        <xs:sequence />
        <xs:attribute name="clientId" type="xs:string" />
        <xs:attribute name="bindingId" type="xs:string" />
        <xs:attribute name="showExpired" type="xs:boolean" use="required" />
        <xs:attribute name="language" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="getBindingsResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceResponse">
            <xs:sequence>
              <xs:element name="bindings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="binding" type="tns:binding" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="binding">
        <xs:sequence />
        <xs:attribute name="bindingId" type="xs:string" />
        <xs:attribute name="maskedPan" type="xs:string" />
        <xs:attribute name="expiryDate" type="xs:string" />
        <xs:attribute name="clientId" type="xs:string" />
        <xs:attribute name="paymentWay" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="orderInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
        </xs:sequence>
        <xs:attribute name="ordernumber" type="xs:string" />
        <xs:attribute name="amount" type="xs:long" use="required" />
        <xs:attribute name="approvedAmount" type="xs:long" use="required" />
        <xs:attribute name="depositedAmount" type="xs:long" use="required" />
        <xs:attribute name="currencyCode" type="xs:short" use="required" />
        <xs:attribute name="state" type="tns:transactionState" />
        <xs:attribute name="fraudLevel" type="xs:int" use="required" />
        <xs:attribute name="cardholder" type="xs:string" />
        <xs:attribute name="panMasked" type="xs:string" />
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="actionCode" type="xs:string" />
        <xs:attribute name="date" type="xs:dateTime" />
        <xs:attribute name="bankName" type="xs:string" />
        <xs:attribute name="approvalCode" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="orderStatusRequest">
        <xs:sequence />
        <xs:attribute name="orderId" type="xs:string" />
        <xs:attribute name="language" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="getOrderStatusExtendedRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:orderStatusRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="merchantOrderNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="extendBindingRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="bindingId" type="xs:string" />
            <xs:attribute name="newExpiry" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="extendBindingResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="verifyEnrollmentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence />
            <xs:attribute name="isEnrolled" type="xs:string" />
            <xs:attribute name="emitterName" type="xs:string" />
            <xs:attribute name="emitterCountryCode" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getLastOrdersForMerchantsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence>
              <xs:element name="page" type="xs:int" />
              <xs:element name="size" type="xs:int" />
              <xs:element minOccurs="0" name="from" type="xs:dateTime" />
              <xs:element minOccurs="0" name="to" type="xs:dateTime" />
              <xs:element minOccurs="0" name="transactionStates" type="tns:transactionStates" />
              <xs:element minOccurs="0" name="merchants" type="tns:merchants" />
              <xs:element name="searchByCreatedDate" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="transactionStates">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="transactionStates" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="merchants">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="merchants" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLastOrdersForMerchantsResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="orderStatuses" nillable="true" type="tns:getOrderStatusExtendedResponse" />
              <xs:element name="totalCount" type="xs:long" />
              <xs:element name="page" type="xs:int" />
              <xs:element name="pageSize" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getBindingsByCardOrIdRequest">
        <xs:sequence />
        <xs:attribute name="pan" type="xs:string" />
        <xs:attribute name="bindingId" type="xs:string" />
        <xs:attribute name="showExpired" type="xs:boolean" use="required" />
        <xs:attribute name="language" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="rawSumRefundRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="name" type="xs:string" />
            <xs:attribute name="itemAmount" type="xs:long" />
            <xs:attribute name="itemCode" type="xs:string" />
            <xs:attribute name="tax" type="tns:taxType" />
            <xs:attribute name="expectedDepositedAmount" type="xs:long" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="rawPositionRefundRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="positionId" type="xs:string" />
            <xs:attribute name="itemAmount" type="xs:long" />
            <xs:attribute name="expectedDepositedAmount" type="xs:long" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="reversalOrderParams">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
            </xs:sequence>
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="merchantLogin" type="xs:string" />
            <xs:attribute name="orderNumber" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="finishThreeDSRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="md" type="xs:string" use="required" />
            <xs:attribute name="paRes" type="xs:string" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="finishThreeDSResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence />
            <xs:attribute name="returnUrl" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="recurrentPaymentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderNumber" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element minOccurs="0" name="bindingId" type="xs:string" />
          <xs:element name="amount" type="xs:long" />
          <xs:element minOccurs="0" name="currency" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="additionalParameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="recurrentPaymentResponse">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="data" type="tns:recurrentPaymentData" />
          <xs:element minOccurs="0" name="error" type="tns:recurrentPaymentError" />
          <xs:element minOccurs="0" name="orderStatus" type="tns:getOrderStatusExtendedResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="recurrentPaymentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="recurrentPaymentError">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentOrderOtherWayParams">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="paymentWay" type="xs:string" />
            <xs:attribute name="ip" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentOrderOtherWayResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence />
            <xs:attribute name="info" type="xs:string" />
            <xs:attribute name="redirect" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="loginParams">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence />
            <xs:attribute name="login" type="xs:string" />
            <xs:attribute name="password" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="samsungPayPaymentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchant" type="xs:string" />
          <xs:element minOccurs="0" name="orderNumber" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:string" />
          <xs:element name="preAuth" type="xs:boolean" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="additionalParameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentToken" type="xs:string" />
          <xs:element minOccurs="0" name="ip" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="samsungPayPaymentResponse">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="data" type="tns:samsungData" />
          <xs:element minOccurs="0" name="error" type="tns:samsungError" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="samsungData">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderId" type="xs:string" />
          <xs:element minOccurs="0" name="bindingId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="samsungError">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="depositOrderParams">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="depositItems" type="tns:cartItems" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
            </xs:sequence>
            <xs:attribute name="orderId" type="xs:string" />
            <xs:attribute name="depositAmount" type="xs:long" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
              <xs:element minOccurs="0" name="orderBundle" type="tns:orderBundle" />
            </xs:sequence>
            <xs:attribute name="orderStatus" type="xs:int" use="required" />
            <xs:attribute name="orderNumber" type="xs:string" />
            <xs:attribute name="pan" type="xs:string" />
            <xs:attribute name="hpan" type="xs:string" />
            <xs:attribute name="expiration" type="xs:string" />
            <xs:attribute name="cardholderName" type="xs:string" />
            <xs:attribute name="amount" type="xs:long" use="required" />
            <xs:attribute name="currency" type="xs:string" />
            <xs:attribute name="approvalCode" type="xs:string" />
            <xs:attribute name="authCode" type="xs:int" use="required" />
            <xs:attribute name="ip" type="xs:string" />
            <xs:attribute name="date" type="xs:dateTime" />
            <xs:attribute name="orderDescription" type="xs:string" />
            <xs:attribute name="merchantLogin" type="xs:string" />
            <xs:attribute name="actionCodeDescription" type="xs:string" />
            <xs:attribute name="clientId" type="xs:string" />
            <xs:attribute name="bindingId" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentOrderParams">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:serviceParam" />
        </xs:sequence>
        <xs:attribute name="orderId" type="xs:string" />
        <xs:attribute name="year" type="xs:string" />
        <xs:attribute name="month" type="xs:string" />
        <xs:attribute name="pan" type="xs:string" />
        <xs:attribute name="cvc" type="xs:string" />
        <xs:attribute name="cardholderName" type="xs:string" />
        <xs:attribute name="language" type="xs:string" />
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="email" type="xs:string" />
        <xs:attribute name="pointsAmount" type="xs:string" />
        <xs:attribute name="loyaltyId" type="xs:string" />
      </xs:complexType>
      <xs:simpleType name="operationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PAYMENT" />
          <xs:enumeration value="AWARD" />
          <xs:enumeration value="REVERSE" />
          <xs:enumeration value="REFUND_PAYMENT" />
          <xs:enumeration value="REFUND_AWARD" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="orderFeature">
        <xs:restriction base="xs:string">
          <xs:enumeration value="FIXED_BINDING" />
          <xs:enumeration value="BINDING_NOT_NEEDED" />
          <xs:enumeration value="FIXED_BONUS_AMOUNT" />
          <xs:enumeration value="FORCE_TDS" />
          <xs:enumeration value="FORCE_SSL" />
          <xs:enumeration value="FRAUD_FORCE_TDS" />
          <xs:enumeration value="FRAUD_FORCE_SSL" />
          <xs:enumeration value="AUTO_PAYMENT" />
          <xs:enumeration value="FORCE_NO_CVC" />
          <xs:enumeration value="FORCE_FULL_TDS" />
          <xs:enumeration value="VERIFY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="transactionState">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CREATED" />
          <xs:enumeration value="APPROVED" />
          <xs:enumeration value="DECLINED" />
          <xs:enumeration value="REVERSED" />
          <xs:enumeration value="DEPOSITED" />
          <xs:enumeration value="REFUNDED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="operation">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PAYMENT" />
          <xs:enumeration value="AWARD" />
          <xs:enumeration value="REVERSE" />
          <xs:enumeration value="REFUND_PAYMENT" />
          <xs:enumeration value="REFUND_AWARD" />
          <xs:enumeration value="VERIFY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="processingOperationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PRE_AUTH" />
          <xs:enumeration value="COMPLETION" />
          <xs:enumeration value="REVERSAL_FOR_PRE_AUTH" />
          <xs:enumeration value="REVERSAL_FOR_COMPLETION" />
          <xs:enumeration value="REFUND" />
          <xs:enumeration value="PURCHASE" />
          <xs:enumeration value="REVERSAL_FOR_PURCHASE" />
          <xs:enumeration value="COMMUNICATION_REVERSAL" />
          <xs:enumeration value="REVERSAL_FOR_REFUND" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="taxType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE" />
          <xs:enumeration value="VAT_0" />
          <xs:enumeration value="VAT_10" />
          <xs:enumeration value="VAT_18" />
          <xs:enumeration value="VAT_110" />
          <xs:enumeration value="VAT_118" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="orderInfoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:orderInfo" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="refundOrder">
    <wsdl:part name="order" type="ns1:refundOrderParams" />
  </wsdl:message>
  <wsdl:message name="androidPay">
    <wsdl:part name="arg0" type="ns1:androidPayPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="registerOrder">
    <wsdl:part name="order" type="ns1:orderParams" />
  </wsdl:message>
  <wsdl:message name="recurrentPaymentResponse">
    <wsdl:part name="return" type="ns1:recurrentPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="createBindingNoPaymentResponse">
    <wsdl:part name="return" type="ns1:createBindingNoPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="paymentOrderBinding">
    <wsdl:part name="order" type="ns1:paymentOrderBindingParams" />
  </wsdl:message>
  <wsdl:message name="applePay">
    <wsdl:part name="arg0" type="ns1:applePayPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="bindCardResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="registerOrderPreAuth">
    <wsdl:part name="order" type="ns1:orderParams" />
  </wsdl:message>
  <wsdl:message name="extendBinding">
    <wsdl:part name="request" type="ns1:extendBindingRequest" />
  </wsdl:message>
  <wsdl:message name="addParamsResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="verifyEnrollment">
    <wsdl:part name="pan" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusResponse">
    <wsdl:part name="return" type="ns1:orderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="registerOrderResponse">
    <wsdl:part name="return" type="ns1:registerOrderResponse" />
  </wsdl:message>
  <wsdl:message name="getLastOrdersForMerchants">
    <wsdl:part name="request" type="ns1:getLastOrdersForMerchantsRequest" />
  </wsdl:message>
  <wsdl:message name="updateSSLCardList">
    <wsdl:part name="mdorder" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getBindingsByCardOrIdResponse">
    <wsdl:part name="return" type="ns1:getBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="refundOrderResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="checkAuthenticateResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="processRawPositionOrderRefund">
    <wsdl:part name="order" type="ns1:rawPositionRefundRequest" />
  </wsdl:message>
  <wsdl:message name="finishThreeDsResponse">
    <wsdl:part name="return" type="ns1:finishThreeDSResponse" />
  </wsdl:message>
  <wsdl:message name="reverseOrderResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="bindCard">
    <wsdl:part name="bindingId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="finishThreeDs">
    <wsdl:part name="request" type="ns1:finishThreeDSRequest" />
  </wsdl:message>
  <wsdl:message name="updateSSLCardListResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="recurrentPayment">
    <wsdl:part name="arg0" type="ns1:recurrentPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="applePayResponse">
    <wsdl:part name="return" type="ns1:applePayPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="registerOrderPreAuthResponse">
    <wsdl:part name="return" type="ns1:registerOrderResponse" />
  </wsdl:message>
  <wsdl:message name="paymentOrderOtherWay">
    <wsdl:part name="order" type="ns1:paymentOrderOtherWayParams" />
  </wsdl:message>
  <wsdl:message name="checkAuthenticate">
    <wsdl:part name="login" type="ns1:loginParams" />
  </wsdl:message>
  <wsdl:message name="updateWhiteCardList">
    <wsdl:part name="mdorder" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="paymentOrderResponse">
    <wsdl:part name="return" type="ns1:paymentOrderResult" />
  </wsdl:message>
  <wsdl:message name="paymentOrder">
    <wsdl:part name="order" type="ns1:paymentOrderParams" />
  </wsdl:message>
  <wsdl:message name="verifyEnrollmentResponse">
    <wsdl:part name="return" type="ns1:verifyEnrollmentResponse" />
  </wsdl:message>
  <wsdl:message name="createBindingNoPayment">
    <wsdl:part name="request" type="ns1:createBindingNoPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="unBindCard">
    <wsdl:part name="bindingId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="androidPayResponse">
    <wsdl:part name="return" type="ns1:androidPayPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusExtendedResponse">
    <wsdl:part name="return" type="ns1:getOrderStatusExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="getLastOrdersForMerchantsResponse">
    <wsdl:part name="return" type="ns1:getLastOrdersForMerchantsResponse" />
  </wsdl:message>
  <wsdl:message name="unBindCardResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="addParams">
    <wsdl:part name="request" type="ns1:addParamsRequest" />
  </wsdl:message>
  <wsdl:message name="paymentOrderOtherWayResponse">
    <wsdl:part name="return" type="ns1:paymentOrderOtherWayResult" />
  </wsdl:message>
  <wsdl:message name="depositOrderResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="getBindings">
    <wsdl:part name="request" type="ns1:getBindingsRequest" />
  </wsdl:message>
  <wsdl:message name="getLastOrders">
    <wsdl:part name="from" type="xsd:dateTime" />
    <wsdl:part name="to" type="xsd:dateTime" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusExtended">
    <wsdl:part name="order" type="ns1:getOrderStatusExtendedRequest" />
  </wsdl:message>
  <wsdl:message name="processRawPositionOrderRefundResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="processRawSumOrderRefundResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="getBindingsByCardOrId">
    <wsdl:part name="request" type="ns1:getBindingsByCardOrIdRequest" />
  </wsdl:message>
  <wsdl:message name="extendBindingResponse">
    <wsdl:part name="return" type="ns1:extendBindingResponse" />
  </wsdl:message>
  <wsdl:message name="processRawSumOrderRefund">
    <wsdl:part name="order" type="ns1:rawSumRefundRequest" />
  </wsdl:message>
  <wsdl:message name="getBindingsResponse">
    <wsdl:part name="return" type="ns1:getBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="updateWhiteCardListResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="paymentOrderBindingResponse">
    <wsdl:part name="return" type="ns1:paymentOrderResult" />
  </wsdl:message>
  <wsdl:message name="samsungPayResponse">
    <wsdl:part name="return" type="ns1:samsungPayPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="reverseOrder">
    <wsdl:part name="order" type="ns1:reversalOrderParams" />
  </wsdl:message>
  <wsdl:message name="updateBlackCardListResponse">
    <wsdl:part name="return" type="ns1:orderResult" />
  </wsdl:message>
  <wsdl:message name="updateBlackCardList">
    <wsdl:part name="mdorder" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="samsungPay">
    <wsdl:part name="arg0" type="ns1:samsungPayPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="depositOrder">
    <wsdl:part name="order" type="ns1:depositOrderParams" />
  </wsdl:message>
  <wsdl:message name="getOrderStatus">
    <wsdl:part name="order" type="ns1:orderStatusRequest" />
  </wsdl:message>
  <wsdl:message name="getLastOrdersResponse">
    <wsdl:part name="return" type="ns1:orderInfoArray" />
  </wsdl:message>
  <wsdl:portType name="MerchantService">
    <wsdl:operation name="refundOrder">
      <wsdl:input name="refundOrder" message="ns1:refundOrder" />
      <wsdl:output name="refundOrderResponse" message="ns1:refundOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="createBindingNoPayment">
      <wsdl:input name="createBindingNoPayment" message="ns1:createBindingNoPayment" />
      <wsdl:output name="createBindingNoPaymentResponse" message="ns1:createBindingNoPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="unBindCard">
      <wsdl:input name="unBindCard" message="ns1:unBindCard" />
      <wsdl:output name="unBindCardResponse" message="ns1:unBindCardResponse" />
    </wsdl:operation>
    <wsdl:operation name="androidPay">
      <wsdl:input name="androidPay" message="ns1:androidPay" />
      <wsdl:output name="androidPayResponse" message="ns1:androidPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerOrder">
      <wsdl:input name="registerOrder" message="ns1:registerOrder" />
      <wsdl:output name="registerOrderResponse" message="ns1:registerOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="paymentOrderBinding">
      <wsdl:input name="paymentOrderBinding" message="ns1:paymentOrderBinding" />
      <wsdl:output name="paymentOrderBindingResponse" message="ns1:paymentOrderBindingResponse" />
    </wsdl:operation>
    <wsdl:operation name="applePay">
      <wsdl:input name="applePay" message="ns1:applePay" />
      <wsdl:output name="applePayResponse" message="ns1:applePayResponse" />
    </wsdl:operation>
    <wsdl:operation name="addParams">
      <wsdl:input name="addParams" message="ns1:addParams" />
      <wsdl:output name="addParamsResponse" message="ns1:addParamsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBindings">
      <wsdl:input name="getBindings" message="ns1:getBindings" />
      <wsdl:output name="getBindingsResponse" message="ns1:getBindingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLastOrders">
      <wsdl:input name="getLastOrders" message="ns1:getLastOrders" />
      <wsdl:output name="getLastOrdersResponse" message="ns1:getLastOrdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusExtended">
      <wsdl:input name="getOrderStatusExtended" message="ns1:getOrderStatusExtended" />
      <wsdl:output name="getOrderStatusExtendedResponse" message="ns1:getOrderStatusExtendedResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerOrderPreAuth">
      <wsdl:input name="registerOrderPreAuth" message="ns1:registerOrderPreAuth" />
      <wsdl:output name="registerOrderPreAuthResponse" message="ns1:registerOrderPreAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="extendBinding">
      <wsdl:input name="extendBinding" message="ns1:extendBinding" />
      <wsdl:output name="extendBindingResponse" message="ns1:extendBindingResponse" />
    </wsdl:operation>
    <wsdl:operation name="verifyEnrollment">
      <wsdl:input name="verifyEnrollment" message="ns1:verifyEnrollment" />
      <wsdl:output name="verifyEnrollmentResponse" message="ns1:verifyEnrollmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLastOrdersForMerchants">
      <wsdl:input name="getLastOrdersForMerchants" message="ns1:getLastOrdersForMerchants" />
      <wsdl:output name="getLastOrdersForMerchantsResponse" message="ns1:getLastOrdersForMerchantsResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSSLCardList">
      <wsdl:input name="updateSSLCardList" message="ns1:updateSSLCardList" />
      <wsdl:output name="updateSSLCardListResponse" message="ns1:updateSSLCardListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBindingsByCardOrId">
      <wsdl:input name="getBindingsByCardOrId" message="ns1:getBindingsByCardOrId" />
      <wsdl:output name="getBindingsByCardOrIdResponse" message="ns1:getBindingsByCardOrIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="processRawSumOrderRefund">
      <wsdl:input name="processRawSumOrderRefund" message="ns1:processRawSumOrderRefund" />
      <wsdl:output name="processRawSumOrderRefundResponse" message="ns1:processRawSumOrderRefundResponse" />
    </wsdl:operation>
    <wsdl:operation name="processRawPositionOrderRefund">
      <wsdl:input name="processRawPositionOrderRefund" message="ns1:processRawPositionOrderRefund" />
      <wsdl:output name="processRawPositionOrderRefundResponse" message="ns1:processRawPositionOrderRefundResponse" />
    </wsdl:operation>
    <wsdl:operation name="reverseOrder">
      <wsdl:input name="reverseOrder" message="ns1:reverseOrder" />
      <wsdl:output name="reverseOrderResponse" message="ns1:reverseOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="bindCard">
      <wsdl:input name="bindCard" message="ns1:bindCard" />
      <wsdl:output name="bindCardResponse" message="ns1:bindCardResponse" />
    </wsdl:operation>
    <wsdl:operation name="finishThreeDs">
      <wsdl:input name="finishThreeDs" message="ns1:finishThreeDs" />
      <wsdl:output name="finishThreeDsResponse" message="ns1:finishThreeDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateBlackCardList">
      <wsdl:input name="updateBlackCardList" message="ns1:updateBlackCardList" />
      <wsdl:output name="updateBlackCardListResponse" message="ns1:updateBlackCardListResponse" />
    </wsdl:operation>
    <wsdl:operation name="recurrentPayment">
      <wsdl:input name="recurrentPayment" message="ns1:recurrentPayment" />
      <wsdl:output name="recurrentPaymentResponse" message="ns1:recurrentPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="paymentOrderOtherWay">
      <wsdl:input name="paymentOrderOtherWay" message="ns1:paymentOrderOtherWay" />
      <wsdl:output name="paymentOrderOtherWayResponse" message="ns1:paymentOrderOtherWayResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkAuthenticate">
      <wsdl:input name="checkAuthenticate" message="ns1:checkAuthenticate" />
      <wsdl:output name="checkAuthenticateResponse" message="ns1:checkAuthenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="samsungPay">
      <wsdl:input name="samsungPay" message="ns1:samsungPay" />
      <wsdl:output name="samsungPayResponse" message="ns1:samsungPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateWhiteCardList">
      <wsdl:input name="updateWhiteCardList" message="ns1:updateWhiteCardList" />
      <wsdl:output name="updateWhiteCardListResponse" message="ns1:updateWhiteCardListResponse" />
    </wsdl:operation>
    <wsdl:operation name="depositOrder">
      <wsdl:input name="depositOrder" message="ns1:depositOrder" />
      <wsdl:output name="depositOrderResponse" message="ns1:depositOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrderStatus">
      <wsdl:input name="getOrderStatus" message="ns1:getOrderStatus" />
      <wsdl:output name="getOrderStatusResponse" message="ns1:getOrderStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="paymentOrder">
      <wsdl:input name="paymentOrder" message="ns1:paymentOrder" />
      <wsdl:output name="paymentOrderResponse" message="ns1:paymentOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>