Fusion/Web References/Sberbank/MerchantServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.merchant.api.web.phoenix.bpc.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://engine.paymentgate.ru/webservices/merchant" name="MerchantServiceImplService" targetNamespace="http://soap.merchant.api.web.phoenix.bpc.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://engine.paymentgate.ru/webservices/merchant" location="https://securepayments.sberbank.ru/payment/webservices/merchant-ws?wsdl=MerchantService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="MerchantServiceImplServiceSoapBinding" type="ns1:MerchantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="refundOrder">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="refundOrder">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="refundOrderResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBindingNoPayment">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createBindingNoPayment">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="createBindingNoPaymentResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unBindCard">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="unBindCard">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="unBindCardResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerOrder">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="registerOrder">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="registerOrderResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="androidPay">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="androidPay">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="androidPayResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addParams">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="addParams">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="addParamsResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applePay">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="applePay">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="applePayResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentOrderBinding">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="paymentOrderBinding">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="paymentOrderBindingResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBindings">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getBindings">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getBindingsResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrders">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getLastOrders">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getLastOrdersResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusExtended">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getOrderStatusExtended">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getOrderStatusExtendedResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerOrderPreAuth">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="registerOrderPreAuth">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="registerOrderPreAuthResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendBinding">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="extendBinding">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="extendBindingResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyEnrollment">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="verifyEnrollment">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="verifyEnrollmentResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrdersForMerchants">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getLastOrdersForMerchants">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getLastOrdersForMerchantsResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSSLCardList">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="updateSSLCardList">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="updateSSLCardListResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBindingsByCardOrId">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getBindingsByCardOrId">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getBindingsByCardOrIdResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processRawSumOrderRefund">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="processRawSumOrderRefund">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="processRawSumOrderRefundResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processRawPositionOrderRefund">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="processRawPositionOrderRefund">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="processRawPositionOrderRefundResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseOrder">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="reverseOrder">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="reverseOrderResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindCard">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="bindCard">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="bindCardResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishThreeDs">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="finishThreeDs">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="finishThreeDsResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBlackCardList">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="updateBlackCardList">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="updateBlackCardListResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recurrentPayment">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="recurrentPayment">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="recurrentPaymentResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentOrderOtherWay">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="paymentOrderOtherWay">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="paymentOrderOtherWayResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAuthenticate">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="checkAuthenticate">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="checkAuthenticateResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="samsungPay">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="samsungPay">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="samsungPayResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWhiteCardList">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="updateWhiteCardList">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="updateWhiteCardListResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depositOrder">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="depositOrder">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="depositOrderResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatus">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getOrderStatus">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="getOrderStatusResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentOrder">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="paymentOrder">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:input>
      <wsdl:output name="paymentOrderResponse">
        <soap:body use="literal" namespace="http://engine.paymentgate.ru/webservices/merchant" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerchantServiceImplService">
    <wsdl:port name="MerchantServiceImplPort" binding="tns:MerchantServiceImplServiceSoapBinding">
      <soap:address location="https://securepayments.sberbank.ru/payment/webservices/merchant-ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>